#radio {
    display: flex;
    justify-content: space-evenly;
    margin: 25px 25px;
  }

  div ul li a {
    color: rgb(255, 255, 255) !important;
    margin: 0 3px;
    border-radius: 30px;
    padding: 3px 10px !important;
    transition: 0.2s;
  }

  div ul li a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0) !important;
  }

  .clip {
    transition: 0.2s;
  }

  .clip:hover {
    color: rgb(255, 204, 0);
    font-size: 19px;
  }

  #DOB {
    height: 40px;
  }

  #Joining {
    height: 40px;
  }
